<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.channel.mgmt.dao.mapper.interfaces.MgmtChlPatrolInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ai.channel.mgmt.dao.mapper.bo.MgmtChlPatrolInfo" >
    <id column="PATROL_ID" property="patrolId" jdbcType="DECIMAL" />
    <result column="CHANNEL_ID" property="channelId" jdbcType="DECIMAL" />
    <result column="CHANNEL_CODE" property="channelCode" jdbcType="VARCHAR" />
    <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR" />
    <result column="CHANNEL_ADDRESS" property="channelAddress" jdbcType="VARCHAR" />
    <result column="CHL_KIND_ID" property="chlKindId" jdbcType="VARCHAR" />
    <result column="CHL_KIND_NAME" property="chlKindName" jdbcType="VARCHAR" />
    <result column="PATROL_USER_ACCOUNT" property="patrolUserAccount" jdbcType="VARCHAR" />
    <result column="PATROL_USER_NAME" property="patrolUserName" jdbcType="VARCHAR" />
    <result column="PATROL_STATE" property="patrolState" jdbcType="VARCHAR" />
    <result column="SIGN_IN_ADDRESS" property="signInAddress" jdbcType="VARCHAR" />
    <result column="SIGN_IN_TIME" property="signInTime" jdbcType="TIMESTAMP" />
    <result column="SIGN_IN_LNGLAT" property="signInLnglat" jdbcType="VARCHAR" />
    <result column="SIGN_OUT_ADDRESS" property="signOutAddress" jdbcType="VARCHAR" />
    <result column="SIGN_OUT_TIME" property="signOutTime" jdbcType="TIMESTAMP" />
    <result column="SIGN_OUT_LNGLAT" property="signOutLnglat" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="PATROL_REMARK" property="patrolRemark" jdbcType="VARCHAR" />
    <result column="BUSI_REG_CODE" property="busiRegCode" jdbcType="VARCHAR" />
    <result column="BUSI_REG_NAME" property="busiRegName" jdbcType="VARCHAR" />
    <result column="BUSI_REG_CITY_CODE" property="busiRegCityCode" jdbcType="VARCHAR" />
    <result column="BUSI_REG_COUNTY_CODE" property="busiRegCountyCode" jdbcType="VARCHAR" />
    <result column="BUSI_REG_AREA_CODE" property="busiRegAreaCode" jdbcType="VARCHAR" />
    <result column="BUSI_REG_GRID_CODE" property="busiRegGridCode" jdbcType="VARCHAR" />
    <result column="CHANNEL_MANAGER_ID" property="channelManagerId" jdbcType="VARCHAR" />
    <result column="CHANNEL_MANAGER_NAME" property="channelManagerName" jdbcType="VARCHAR" />
    <result column="CHANNEL_MANAGER_PHONE" property="channelManagerPhone" jdbcType="VARCHAR" />
    <result column="CHL_LONGITUDE" property="chlLongitude" jdbcType="DECIMAL" />
    <result column="CHL_LATITUDE" property="chlLatitude" jdbcType="DECIMAL" />
    <result column="WORK_TYPE" property="workType" jdbcType="VARCHAR" />
    <result column="SIGN_IN_ERROR" property="signInError" jdbcType="VARCHAR" />
    <result column="SIGN_OUT_ERROR" property="signOutError" jdbcType="VARCHAR" />
    <result column="INITIATOR_NO" property="initiatorNo" jdbcType="VARCHAR" />
    <result column="INITIATOR_NAME" property="initiatorName" jdbcType="VARCHAR" />
    <result column="WORK_NAME" property="workName" jdbcType="VARCHAR" />
    <result column="PLAN_START_TIME" property="planStartTime" jdbcType="TIMESTAMP" />
    <result column="PLAN_END_TIME" property="planEndTime" jdbcType="TIMESTAMP" />
    <result column="MISSION_TYPE" property="missionType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PATROL_ID, CHANNEL_ID, CHANNEL_CODE, CHANNEL_NAME, CHANNEL_ADDRESS, CHL_KIND_ID, 
    CHL_KIND_NAME, PATROL_USER_ACCOUNT, PATROL_USER_NAME, PATROL_STATE, SIGN_IN_ADDRESS, 
    SIGN_IN_TIME, SIGN_IN_LNGLAT, SIGN_OUT_ADDRESS, SIGN_OUT_TIME, SIGN_OUT_LNGLAT, CREATE_DATE, 
    UPDATE_DATE, PATROL_REMARK, BUSI_REG_CODE, BUSI_REG_NAME, BUSI_REG_CITY_CODE, BUSI_REG_COUNTY_CODE, 
    BUSI_REG_AREA_CODE, BUSI_REG_GRID_CODE, CHANNEL_MANAGER_ID, CHANNEL_MANAGER_NAME, 
    CHANNEL_MANAGER_PHONE, CHL_LONGITUDE, CHL_LATITUDE, WORK_TYPE, SIGN_IN_ERROR, SIGN_OUT_ERROR, 
    INITIATOR_NO, INITIATOR_NAME, WORK_NAME, PLAN_START_TIME, PLAN_END_TIME, MISSION_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.channel.mgmt.dao.mapper.bo.MgmtChlPatrolInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from JZH.MGMT_CHL_PATROL_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from JZH.MGMT_CHL_PATROL_INFO
    where PATROL_ID = #{patrolId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from JZH.MGMT_CHL_PATROL_INFO
    where PATROL_ID = #{patrolId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.channel.mgmt.dao.mapper.bo.MgmtChlPatrolInfoExample" >
    delete from JZH.MGMT_CHL_PATROL_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.channel.mgmt.dao.mapper.bo.MgmtChlPatrolInfo" >
    insert into JZH.MGMT_CHL_PATROL_INFO (PATROL_ID, CHANNEL_ID, CHANNEL_CODE, 
      CHANNEL_NAME, CHANNEL_ADDRESS, CHL_KIND_ID, 
      CHL_KIND_NAME, PATROL_USER_ACCOUNT, PATROL_USER_NAME, 
      PATROL_STATE, SIGN_IN_ADDRESS, SIGN_IN_TIME, 
      SIGN_IN_LNGLAT, SIGN_OUT_ADDRESS, SIGN_OUT_TIME, 
      SIGN_OUT_LNGLAT, CREATE_DATE, UPDATE_DATE, 
      PATROL_REMARK, BUSI_REG_CODE, BUSI_REG_NAME, 
      BUSI_REG_CITY_CODE, BUSI_REG_COUNTY_CODE, BUSI_REG_AREA_CODE, 
      BUSI_REG_GRID_CODE, CHANNEL_MANAGER_ID, CHANNEL_MANAGER_NAME, 
      CHANNEL_MANAGER_PHONE, CHL_LONGITUDE, CHL_LATITUDE, 
      WORK_TYPE, SIGN_IN_ERROR, SIGN_OUT_ERROR, 
      INITIATOR_NO, INITIATOR_NAME, WORK_NAME, 
      PLAN_START_TIME, PLAN_END_TIME, MISSION_TYPE
      )
    values (#{patrolId,jdbcType=DECIMAL}, #{channelId,jdbcType=DECIMAL}, #{channelCode,jdbcType=VARCHAR}, 
      #{channelName,jdbcType=VARCHAR}, #{channelAddress,jdbcType=VARCHAR}, #{chlKindId,jdbcType=VARCHAR}, 
      #{chlKindName,jdbcType=VARCHAR}, #{patrolUserAccount,jdbcType=VARCHAR}, #{patrolUserName,jdbcType=VARCHAR}, 
      #{patrolState,jdbcType=VARCHAR}, #{signInAddress,jdbcType=VARCHAR}, #{signInTime,jdbcType=TIMESTAMP}, 
      #{signInLnglat,jdbcType=VARCHAR}, #{signOutAddress,jdbcType=VARCHAR}, #{signOutTime,jdbcType=TIMESTAMP}, 
      #{signOutLnglat,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{patrolRemark,jdbcType=VARCHAR}, #{busiRegCode,jdbcType=VARCHAR}, #{busiRegName,jdbcType=VARCHAR}, 
      #{busiRegCityCode,jdbcType=VARCHAR}, #{busiRegCountyCode,jdbcType=VARCHAR}, #{busiRegAreaCode,jdbcType=VARCHAR}, 
      #{busiRegGridCode,jdbcType=VARCHAR}, #{channelManagerId,jdbcType=VARCHAR}, #{channelManagerName,jdbcType=VARCHAR}, 
      #{channelManagerPhone,jdbcType=VARCHAR}, #{chlLongitude,jdbcType=DECIMAL}, #{chlLatitude,jdbcType=DECIMAL}, 
      #{workType,jdbcType=VARCHAR}, #{signInError,jdbcType=VARCHAR}, #{signOutError,jdbcType=VARCHAR}, 
      #{initiatorNo,jdbcType=VARCHAR}, #{initiatorName,jdbcType=VARCHAR}, #{workName,jdbcType=VARCHAR}, 
      #{planStartTime,jdbcType=TIMESTAMP}, #{planEndTime,jdbcType=TIMESTAMP}, #{missionType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.channel.mgmt.dao.mapper.bo.MgmtChlPatrolInfo" >
    insert into JZH.MGMT_CHL_PATROL_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patrolId != null" >
        PATROL_ID,
      </if>
      <if test="channelId != null" >
        CHANNEL_ID,
      </if>
      <if test="channelCode != null" >
        CHANNEL_CODE,
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME,
      </if>
      <if test="channelAddress != null" >
        CHANNEL_ADDRESS,
      </if>
      <if test="chlKindId != null" >
        CHL_KIND_ID,
      </if>
      <if test="chlKindName != null" >
        CHL_KIND_NAME,
      </if>
      <if test="patrolUserAccount != null" >
        PATROL_USER_ACCOUNT,
      </if>
      <if test="patrolUserName != null" >
        PATROL_USER_NAME,
      </if>
      <if test="patrolState != null" >
        PATROL_STATE,
      </if>
      <if test="signInAddress != null" >
        SIGN_IN_ADDRESS,
      </if>
      <if test="signInTime != null" >
        SIGN_IN_TIME,
      </if>
      <if test="signInLnglat != null" >
        SIGN_IN_LNGLAT,
      </if>
      <if test="signOutAddress != null" >
        SIGN_OUT_ADDRESS,
      </if>
      <if test="signOutTime != null" >
        SIGN_OUT_TIME,
      </if>
      <if test="signOutLnglat != null" >
        SIGN_OUT_LNGLAT,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="patrolRemark != null" >
        PATROL_REMARK,
      </if>
      <if test="busiRegCode != null" >
        BUSI_REG_CODE,
      </if>
      <if test="busiRegName != null" >
        BUSI_REG_NAME,
      </if>
      <if test="busiRegCityCode != null" >
        BUSI_REG_CITY_CODE,
      </if>
      <if test="busiRegCountyCode != null" >
        BUSI_REG_COUNTY_CODE,
      </if>
      <if test="busiRegAreaCode != null" >
        BUSI_REG_AREA_CODE,
      </if>
      <if test="busiRegGridCode != null" >
        BUSI_REG_GRID_CODE,
      </if>
      <if test="channelManagerId != null" >
        CHANNEL_MANAGER_ID,
      </if>
      <if test="channelManagerName != null" >
        CHANNEL_MANAGER_NAME,
      </if>
      <if test="channelManagerPhone != null" >
        CHANNEL_MANAGER_PHONE,
      </if>
      <if test="chlLongitude != null" >
        CHL_LONGITUDE,
      </if>
      <if test="chlLatitude != null" >
        CHL_LATITUDE,
      </if>
      <if test="workType != null" >
        WORK_TYPE,
      </if>
      <if test="signInError != null" >
        SIGN_IN_ERROR,
      </if>
      <if test="signOutError != null" >
        SIGN_OUT_ERROR,
      </if>
      <if test="initiatorNo != null" >
        INITIATOR_NO,
      </if>
      <if test="initiatorName != null" >
        INITIATOR_NAME,
      </if>
      <if test="workName != null" >
        WORK_NAME,
      </if>
      <if test="planStartTime != null" >
        PLAN_START_TIME,
      </if>
      <if test="planEndTime != null" >
        PLAN_END_TIME,
      </if>
      <if test="missionType != null" >
        MISSION_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patrolId != null" >
        #{patrolId,jdbcType=DECIMAL},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=DECIMAL},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelAddress != null" >
        #{channelAddress,jdbcType=VARCHAR},
      </if>
      <if test="chlKindId != null" >
        #{chlKindId,jdbcType=VARCHAR},
      </if>
      <if test="chlKindName != null" >
        #{chlKindName,jdbcType=VARCHAR},
      </if>
      <if test="patrolUserAccount != null" >
        #{patrolUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="patrolUserName != null" >
        #{patrolUserName,jdbcType=VARCHAR},
      </if>
      <if test="patrolState != null" >
        #{patrolState,jdbcType=VARCHAR},
      </if>
      <if test="signInAddress != null" >
        #{signInAddress,jdbcType=VARCHAR},
      </if>
      <if test="signInTime != null" >
        #{signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signInLnglat != null" >
        #{signInLnglat,jdbcType=VARCHAR},
      </if>
      <if test="signOutAddress != null" >
        #{signOutAddress,jdbcType=VARCHAR},
      </if>
      <if test="signOutTime != null" >
        #{signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signOutLnglat != null" >
        #{signOutLnglat,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="patrolRemark != null" >
        #{patrolRemark,jdbcType=VARCHAR},
      </if>
      <if test="busiRegCode != null" >
        #{busiRegCode,jdbcType=VARCHAR},
      </if>
      <if test="busiRegName != null" >
        #{busiRegName,jdbcType=VARCHAR},
      </if>
      <if test="busiRegCityCode != null" >
        #{busiRegCityCode,jdbcType=VARCHAR},
      </if>
      <if test="busiRegCountyCode != null" >
        #{busiRegCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="busiRegAreaCode != null" >
        #{busiRegAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="busiRegGridCode != null" >
        #{busiRegGridCode,jdbcType=VARCHAR},
      </if>
      <if test="channelManagerId != null" >
        #{channelManagerId,jdbcType=VARCHAR},
      </if>
      <if test="channelManagerName != null" >
        #{channelManagerName,jdbcType=VARCHAR},
      </if>
      <if test="channelManagerPhone != null" >
        #{channelManagerPhone,jdbcType=VARCHAR},
      </if>
      <if test="chlLongitude != null" >
        #{chlLongitude,jdbcType=DECIMAL},
      </if>
      <if test="chlLatitude != null" >
        #{chlLatitude,jdbcType=DECIMAL},
      </if>
      <if test="workType != null" >
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="signInError != null" >
        #{signInError,jdbcType=VARCHAR},
      </if>
      <if test="signOutError != null" >
        #{signOutError,jdbcType=VARCHAR},
      </if>
      <if test="initiatorNo != null" >
        #{initiatorNo,jdbcType=VARCHAR},
      </if>
      <if test="initiatorName != null" >
        #{initiatorName,jdbcType=VARCHAR},
      </if>
      <if test="workName != null" >
        #{workName,jdbcType=VARCHAR},
      </if>
      <if test="planStartTime != null" >
        #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null" >
        #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="missionType != null" >
        #{missionType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.channel.mgmt.dao.mapper.bo.MgmtChlPatrolInfoExample" resultType="java.lang.Integer" >
    select count(*) from JZH.MGMT_CHL_PATROL_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update JZH.MGMT_CHL_PATROL_INFO
    <set >
      <if test="record.patrolId != null" >
        PATROL_ID = #{record.patrolId,jdbcType=DECIMAL},
      </if>
      <if test="record.channelId != null" >
        CHANNEL_ID = #{record.channelId,jdbcType=DECIMAL},
      </if>
      <if test="record.channelCode != null" >
        CHANNEL_CODE = #{record.channelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.channelName != null" >
        CHANNEL_NAME = #{record.channelName,jdbcType=VARCHAR},
      </if>
      <if test="record.channelAddress != null" >
        CHANNEL_ADDRESS = #{record.channelAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.chlKindId != null" >
        CHL_KIND_ID = #{record.chlKindId,jdbcType=VARCHAR},
      </if>
      <if test="record.chlKindName != null" >
        CHL_KIND_NAME = #{record.chlKindName,jdbcType=VARCHAR},
      </if>
      <if test="record.patrolUserAccount != null" >
        PATROL_USER_ACCOUNT = #{record.patrolUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.patrolUserName != null" >
        PATROL_USER_NAME = #{record.patrolUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.patrolState != null" >
        PATROL_STATE = #{record.patrolState,jdbcType=VARCHAR},
      </if>
      <if test="record.signInAddress != null" >
        SIGN_IN_ADDRESS = #{record.signInAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.signInTime != null" >
        SIGN_IN_TIME = #{record.signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signInLnglat != null" >
        SIGN_IN_LNGLAT = #{record.signInLnglat,jdbcType=VARCHAR},
      </if>
      <if test="record.signOutAddress != null" >
        SIGN_OUT_ADDRESS = #{record.signOutAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.signOutTime != null" >
        SIGN_OUT_TIME = #{record.signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signOutLnglat != null" >
        SIGN_OUT_LNGLAT = #{record.signOutLnglat,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.patrolRemark != null" >
        PATROL_REMARK = #{record.patrolRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.busiRegCode != null" >
        BUSI_REG_CODE = #{record.busiRegCode,jdbcType=VARCHAR},
      </if>
      <if test="record.busiRegName != null" >
        BUSI_REG_NAME = #{record.busiRegName,jdbcType=VARCHAR},
      </if>
      <if test="record.busiRegCityCode != null" >
        BUSI_REG_CITY_CODE = #{record.busiRegCityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.busiRegCountyCode != null" >
        BUSI_REG_COUNTY_CODE = #{record.busiRegCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.busiRegAreaCode != null" >
        BUSI_REG_AREA_CODE = #{record.busiRegAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.busiRegGridCode != null" >
        BUSI_REG_GRID_CODE = #{record.busiRegGridCode,jdbcType=VARCHAR},
      </if>
      <if test="record.channelManagerId != null" >
        CHANNEL_MANAGER_ID = #{record.channelManagerId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelManagerName != null" >
        CHANNEL_MANAGER_NAME = #{record.channelManagerName,jdbcType=VARCHAR},
      </if>
      <if test="record.channelManagerPhone != null" >
        CHANNEL_MANAGER_PHONE = #{record.channelManagerPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.chlLongitude != null" >
        CHL_LONGITUDE = #{record.chlLongitude,jdbcType=DECIMAL},
      </if>
      <if test="record.chlLatitude != null" >
        CHL_LATITUDE = #{record.chlLatitude,jdbcType=DECIMAL},
      </if>
      <if test="record.workType != null" >
        WORK_TYPE = #{record.workType,jdbcType=VARCHAR},
      </if>
      <if test="record.signInError != null" >
        SIGN_IN_ERROR = #{record.signInError,jdbcType=VARCHAR},
      </if>
      <if test="record.signOutError != null" >
        SIGN_OUT_ERROR = #{record.signOutError,jdbcType=VARCHAR},
      </if>
      <if test="record.initiatorNo != null" >
        INITIATOR_NO = #{record.initiatorNo,jdbcType=VARCHAR},
      </if>
      <if test="record.initiatorName != null" >
        INITIATOR_NAME = #{record.initiatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.workName != null" >
        WORK_NAME = #{record.workName,jdbcType=VARCHAR},
      </if>
      <if test="record.planStartTime != null" >
        PLAN_START_TIME = #{record.planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planEndTime != null" >
        PLAN_END_TIME = #{record.planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.missionType != null" >
        MISSION_TYPE = #{record.missionType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update JZH.MGMT_CHL_PATROL_INFO
    set PATROL_ID = #{record.patrolId,jdbcType=DECIMAL},
      CHANNEL_ID = #{record.channelId,jdbcType=DECIMAL},
      CHANNEL_CODE = #{record.channelCode,jdbcType=VARCHAR},
      CHANNEL_NAME = #{record.channelName,jdbcType=VARCHAR},
      CHANNEL_ADDRESS = #{record.channelAddress,jdbcType=VARCHAR},
      CHL_KIND_ID = #{record.chlKindId,jdbcType=VARCHAR},
      CHL_KIND_NAME = #{record.chlKindName,jdbcType=VARCHAR},
      PATROL_USER_ACCOUNT = #{record.patrolUserAccount,jdbcType=VARCHAR},
      PATROL_USER_NAME = #{record.patrolUserName,jdbcType=VARCHAR},
      PATROL_STATE = #{record.patrolState,jdbcType=VARCHAR},
      SIGN_IN_ADDRESS = #{record.signInAddress,jdbcType=VARCHAR},
      SIGN_IN_TIME = #{record.signInTime,jdbcType=TIMESTAMP},
      SIGN_IN_LNGLAT = #{record.signInLnglat,jdbcType=VARCHAR},
      SIGN_OUT_ADDRESS = #{record.signOutAddress,jdbcType=VARCHAR},
      SIGN_OUT_TIME = #{record.signOutTime,jdbcType=TIMESTAMP},
      SIGN_OUT_LNGLAT = #{record.signOutLnglat,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      PATROL_REMARK = #{record.patrolRemark,jdbcType=VARCHAR},
      BUSI_REG_CODE = #{record.busiRegCode,jdbcType=VARCHAR},
      BUSI_REG_NAME = #{record.busiRegName,jdbcType=VARCHAR},
      BUSI_REG_CITY_CODE = #{record.busiRegCityCode,jdbcType=VARCHAR},
      BUSI_REG_COUNTY_CODE = #{record.busiRegCountyCode,jdbcType=VARCHAR},
      BUSI_REG_AREA_CODE = #{record.busiRegAreaCode,jdbcType=VARCHAR},
      BUSI_REG_GRID_CODE = #{record.busiRegGridCode,jdbcType=VARCHAR},
      CHANNEL_MANAGER_ID = #{record.channelManagerId,jdbcType=VARCHAR},
      CHANNEL_MANAGER_NAME = #{record.channelManagerName,jdbcType=VARCHAR},
      CHANNEL_MANAGER_PHONE = #{record.channelManagerPhone,jdbcType=VARCHAR},
      CHL_LONGITUDE = #{record.chlLongitude,jdbcType=DECIMAL},
      CHL_LATITUDE = #{record.chlLatitude,jdbcType=DECIMAL},
      WORK_TYPE = #{record.workType,jdbcType=VARCHAR},
      SIGN_IN_ERROR = #{record.signInError,jdbcType=VARCHAR},
      SIGN_OUT_ERROR = #{record.signOutError,jdbcType=VARCHAR},
      INITIATOR_NO = #{record.initiatorNo,jdbcType=VARCHAR},
      INITIATOR_NAME = #{record.initiatorName,jdbcType=VARCHAR},
      WORK_NAME = #{record.workName,jdbcType=VARCHAR},
      PLAN_START_TIME = #{record.planStartTime,jdbcType=TIMESTAMP},
      PLAN_END_TIME = #{record.planEndTime,jdbcType=TIMESTAMP},
      MISSION_TYPE = #{record.missionType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.channel.mgmt.dao.mapper.bo.MgmtChlPatrolInfo" >
    update JZH.MGMT_CHL_PATROL_INFO
    <set >
      <if test="channelId != null" >
        CHANNEL_ID = #{channelId,jdbcType=DECIMAL},
      </if>
      <if test="channelCode != null" >
        CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelAddress != null" >
        CHANNEL_ADDRESS = #{channelAddress,jdbcType=VARCHAR},
      </if>
      <if test="chlKindId != null" >
        CHL_KIND_ID = #{chlKindId,jdbcType=VARCHAR},
      </if>
      <if test="chlKindName != null" >
        CHL_KIND_NAME = #{chlKindName,jdbcType=VARCHAR},
      </if>
      <if test="patrolUserAccount != null" >
        PATROL_USER_ACCOUNT = #{patrolUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="patrolUserName != null" >
        PATROL_USER_NAME = #{patrolUserName,jdbcType=VARCHAR},
      </if>
      <if test="patrolState != null" >
        PATROL_STATE = #{patrolState,jdbcType=VARCHAR},
      </if>
      <if test="signInAddress != null" >
        SIGN_IN_ADDRESS = #{signInAddress,jdbcType=VARCHAR},
      </if>
      <if test="signInTime != null" >
        SIGN_IN_TIME = #{signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signInLnglat != null" >
        SIGN_IN_LNGLAT = #{signInLnglat,jdbcType=VARCHAR},
      </if>
      <if test="signOutAddress != null" >
        SIGN_OUT_ADDRESS = #{signOutAddress,jdbcType=VARCHAR},
      </if>
      <if test="signOutTime != null" >
        SIGN_OUT_TIME = #{signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signOutLnglat != null" >
        SIGN_OUT_LNGLAT = #{signOutLnglat,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="patrolRemark != null" >
        PATROL_REMARK = #{patrolRemark,jdbcType=VARCHAR},
      </if>
      <if test="busiRegCode != null" >
        BUSI_REG_CODE = #{busiRegCode,jdbcType=VARCHAR},
      </if>
      <if test="busiRegName != null" >
        BUSI_REG_NAME = #{busiRegName,jdbcType=VARCHAR},
      </if>
      <if test="busiRegCityCode != null" >
        BUSI_REG_CITY_CODE = #{busiRegCityCode,jdbcType=VARCHAR},
      </if>
      <if test="busiRegCountyCode != null" >
        BUSI_REG_COUNTY_CODE = #{busiRegCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="busiRegAreaCode != null" >
        BUSI_REG_AREA_CODE = #{busiRegAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="busiRegGridCode != null" >
        BUSI_REG_GRID_CODE = #{busiRegGridCode,jdbcType=VARCHAR},
      </if>
      <if test="channelManagerId != null" >
        CHANNEL_MANAGER_ID = #{channelManagerId,jdbcType=VARCHAR},
      </if>
      <if test="channelManagerName != null" >
        CHANNEL_MANAGER_NAME = #{channelManagerName,jdbcType=VARCHAR},
      </if>
      <if test="channelManagerPhone != null" >
        CHANNEL_MANAGER_PHONE = #{channelManagerPhone,jdbcType=VARCHAR},
      </if>
      <if test="chlLongitude != null" >
        CHL_LONGITUDE = #{chlLongitude,jdbcType=DECIMAL},
      </if>
      <if test="chlLatitude != null" >
        CHL_LATITUDE = #{chlLatitude,jdbcType=DECIMAL},
      </if>
      <if test="workType != null" >
        WORK_TYPE = #{workType,jdbcType=VARCHAR},
      </if>
      <if test="signInError != null" >
        SIGN_IN_ERROR = #{signInError,jdbcType=VARCHAR},
      </if>
      <if test="signOutError != null" >
        SIGN_OUT_ERROR = #{signOutError,jdbcType=VARCHAR},
      </if>
      <if test="initiatorNo != null" >
        INITIATOR_NO = #{initiatorNo,jdbcType=VARCHAR},
      </if>
      <if test="initiatorName != null" >
        INITIATOR_NAME = #{initiatorName,jdbcType=VARCHAR},
      </if>
      <if test="workName != null" >
        WORK_NAME = #{workName,jdbcType=VARCHAR},
      </if>
      <if test="planStartTime != null" >
        PLAN_START_TIME = #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null" >
        PLAN_END_TIME = #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="missionType != null" >
        MISSION_TYPE = #{missionType,jdbcType=VARCHAR},
      </if>
    </set>
    where PATROL_ID = #{patrolId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.channel.mgmt.dao.mapper.bo.MgmtChlPatrolInfo" >
    update JZH.MGMT_CHL_PATROL_INFO
    set CHANNEL_ID = #{channelId,jdbcType=DECIMAL},
      CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
      CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      CHANNEL_ADDRESS = #{channelAddress,jdbcType=VARCHAR},
      CHL_KIND_ID = #{chlKindId,jdbcType=VARCHAR},
      CHL_KIND_NAME = #{chlKindName,jdbcType=VARCHAR},
      PATROL_USER_ACCOUNT = #{patrolUserAccount,jdbcType=VARCHAR},
      PATROL_USER_NAME = #{patrolUserName,jdbcType=VARCHAR},
      PATROL_STATE = #{patrolState,jdbcType=VARCHAR},
      SIGN_IN_ADDRESS = #{signInAddress,jdbcType=VARCHAR},
      SIGN_IN_TIME = #{signInTime,jdbcType=TIMESTAMP},
      SIGN_IN_LNGLAT = #{signInLnglat,jdbcType=VARCHAR},
      SIGN_OUT_ADDRESS = #{signOutAddress,jdbcType=VARCHAR},
      SIGN_OUT_TIME = #{signOutTime,jdbcType=TIMESTAMP},
      SIGN_OUT_LNGLAT = #{signOutLnglat,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      PATROL_REMARK = #{patrolRemark,jdbcType=VARCHAR},
      BUSI_REG_CODE = #{busiRegCode,jdbcType=VARCHAR},
      BUSI_REG_NAME = #{busiRegName,jdbcType=VARCHAR},
      BUSI_REG_CITY_CODE = #{busiRegCityCode,jdbcType=VARCHAR},
      BUSI_REG_COUNTY_CODE = #{busiRegCountyCode,jdbcType=VARCHAR},
      BUSI_REG_AREA_CODE = #{busiRegAreaCode,jdbcType=VARCHAR},
      BUSI_REG_GRID_CODE = #{busiRegGridCode,jdbcType=VARCHAR},
      CHANNEL_MANAGER_ID = #{channelManagerId,jdbcType=VARCHAR},
      CHANNEL_MANAGER_NAME = #{channelManagerName,jdbcType=VARCHAR},
      CHANNEL_MANAGER_PHONE = #{channelManagerPhone,jdbcType=VARCHAR},
      CHL_LONGITUDE = #{chlLongitude,jdbcType=DECIMAL},
      CHL_LATITUDE = #{chlLatitude,jdbcType=DECIMAL},
      WORK_TYPE = #{workType,jdbcType=VARCHAR},
      SIGN_IN_ERROR = #{signInError,jdbcType=VARCHAR},
      SIGN_OUT_ERROR = #{signOutError,jdbcType=VARCHAR},
      INITIATOR_NO = #{initiatorNo,jdbcType=VARCHAR},
      INITIATOR_NAME = #{initiatorName,jdbcType=VARCHAR},
      WORK_NAME = #{workName,jdbcType=VARCHAR},
      PLAN_START_TIME = #{planStartTime,jdbcType=TIMESTAMP},
      PLAN_END_TIME = #{planEndTime,jdbcType=TIMESTAMP},
      MISSION_TYPE = #{missionType,jdbcType=VARCHAR}
    where PATROL_ID = #{patrolId,jdbcType=DECIMAL}
  </update>
</mapper>